.download{
  max-width: 395px;
  border: 1px solid #DADCE0;
  /*border-radius: 10px;*/
  padding: 10px;
  cursor: pointer;
  /*overflow: hidden;*/
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
}
.download.expand{
  cursor: auto;
}

.download:hover{
  background: #F1F3F4;
}

.download.expand:hover{
  background: #fff;
}

.download h3{
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;

  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: -10px;
  width: calc(100% + 20px);
  font-weight: 300;
  padding-left: 20px;

  font-family: Google Sans;
  font-size: 22px;

  /*border-radius: 10px*/
}
.download.expand h3{
  /*outline: 1px solid #DADCE0;*/

  margin-bottom: 10px;
}


.download h3:hover{
  background: #F1F3F4;
}

.download h3:after{
  content: ' ';
  background-image: url('../glue/expand-more.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  top: 3px;
  position: relative;
  float: right;
  transition: all .25s;
}
.download.expand h3:after{
  transform: rotate(180deg);
  /*display: inline-block;*/
  /*background-image: url('../glue/expand-less.svg');*/
}

.sticky{
  top: 0px;
  position: sticky;
  outline: 1px solid #DADCE0;

  padding: 10px;
  padding-bottom: 0px;
  margin-top: -10px;
  margin-left: -10px;
  width: calc(100% + 20px);
  
  background: #fff;
  z-index: 20;
}

.expand .sticky{
  padding-bottom: 20px;
}

.country-name{
  margin-top: 20px;
  display: block;
  font-size: 16px;
}

.region-list{
  font-size: 14px;
}
.region-list span{
  position: relative;
  left: 20px;
}

.region-list{

}

.download a{
  font-family: 'Roboto', Arial, sans-serif;
  color: #202124;
  margin-right: 20px;
  /*width: 48%;*/
  /*display: inline-block;*/
  text-decoration: none;
}
.download a:hover{
  color: #000;
}

.download .row{
  width: calc(100% + 20px);
  margin-left: -10px;
  padding-left: 10px;
  padding-top: 5px;
  cursor: pointer;
}

.download .row:hover{
  background: #DADCE0 !important;
  border-radius: 0px;
}
.download .row a{
  text-decoration: none;
  color: #202124;
  pointer-events: none;
}


.download .row:before{
  display: inline-block;
  content: ' ';
  background-image: url('../glue/file-download.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  text-decoration: none;
  margin-right: 10px;
}

.download .row.expand-region:before{
  background-image: url('../glue/expand-more.svg');
  transition: all .25s;
  
}
.expand > .row.expand-region:before{
  transform: rotate(180deg);
}

a.region-list.row{
  display: none;
}

.expand > a.region-list.row{
  display: block;
}




.download a.disabled{
  pointer-events: none;
  opacity: .5;
}

.download a.disabled:after{
  content: ' N/A';
  top: 0px;
  left: 2px;
}


.download .expand-area{
  display: none;
}


.download.expand .expand-area{
  display: block;
}

select{
  border-color: #DADCE0;
}


.buttons{
  display: inline-block;
}

.buttons.year{
}

.buttons > div{
  display: inline-block;
  width: 43px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  /*font-weight: 500;*/
  color: #5F6368;
  padding-top: 0px;
  padding-bottom: 0px;
  /*border-radius: 2px;*/


  font-family: Google Sans;
  font-size: 14px;
  /*margin-left: -1px;*/
}

.interval.buttons > div{
  width: 64px;
}

.button + .button{
  border-left: 0;
}

.buttons > div:hover{
  background: #E8F0FE;
}

.buttons > div.active{
  background: #E8F0FE;
  color: #1A73E8;
  border-color: #000;
  z-index: 10;
}

.button-container{
  display: none;
}

.expand .button-container{
  display: block;
}

.download .row{
  height: 40px;
  display: inline-block;
}

.button-container > span{
  width: 20px;
  color: #DADCE0;
  color: #fff;
  border-left: 1px solid #DADCE0;
  text-align: center;
  display: inline-block;

  position: relative;
  left: 10px;

  height: 27px;
  top: 2px;
}

.region-list.row.hidden{
  display: none;
}
