name: Update GCS data

on:
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: yarn
      - name: Setup gcloud and gsutil
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCLOUD_API_KEYFILE }}
          export_default_credentials: true
      - run: gcloud info
      - name: Update GCS data
        run: |
          ./bin_i18n/update.sh
